html {
    height: 100%;
}
:root {
  --bg-color: rgb(255, 255, 255);
  --name-color: rgba(0, 0, 0, 0.4);
  --chat-background-color: rgb(241, 240, 240);
  --chat-color: rgb(0, 0, 0);
  --chat-outline-color: rgb(0, 0, 0);
  --head-color: rgb(28, 30, 33);
  --head2-color: rgb(28, 30, 33);
  --head2-background-color: rgba(0, 0, 0, 0);
  --cmd-color: rgb(28, 30, 33);
  --cmd-background-color: rgba(0, 0, 0, 0.05);
}
.dark{
  --bg-color: rgb(24, 25, 26);
  --name-color: rgba(255, 255, 255, 0.5);
  --chat-background-color: rgb(55, 55, 55);
  --chat-color: rgb(255, 255, 255);
  --chat-outline-color: rgb(255, 255, 255);
  --head-color: rgb(28, 30, 33);
  --head2-color: rgb(28, 30, 33);
  --head2-background-color: rgba(0, 0, 0, 0);
  --cmd-color: rgb(255, 255, 255);
  --cmd-background-color: rgba(255, 255, 255, 0.1);
}
body {
    overflow-x: hidden;
    height: 100%;
    background-color: var(--bg-color);
    transition: color 500ms;
}
.box {
    direction: ltr;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 19.2px;
    margin-bottom: 15px;
    position: relative;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    overflow:hidden; 
}
.name {
    height: 15.4px;
    color: var(--name-color);
    direction: ltr;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.3667px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 0px;
    text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    white-space: nowrap;
    -moz-osx-font-smoothing: grayscale;
}
.chatbox {
    margin-left: 36px;
    height: auto;
    overflow:hidden; 
}
.chat {
    height: 19.2px;
    background-color: var(--chat-background-color);
    box-sizing: content-box;
    clear: left;
    color: var(--chat-color);
    direction: ltr;
    float: left;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 19.2px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    max-width: 70%;
    outline-color: var(--chat-outline-color);
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    position: relative;
    text-align: left;
    text-rendering: optimizelegibility;
    user-select: text;
    white-space: pre-wrap;
    -moz-osx-font-smoothing: grayscale
}
.single {
    border-bottom-left-radius: 19.5px;
    border-bottom-right-radius: 19.5px;
    border-top-left-radius: 19.5px;
    border-top-right-radius: 19.5px;
}
.top {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 19.5px;
    border-top-left-radius: 19.5px;
    border-top-right-radius: 19.5px;
}
.mid {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 19.5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 19.5px;
}
.down {
    border-bottom-left-radius: 19.5px;
    border-bottom-right-radius: 19.5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 19.5px;    
}
.head {
    bottom: 2px;
    color: var(--head-color);
    cursor: pointer;
    direction: ltr;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 28px;
    line-height: 19.2px;
    max-height: 28px;
    max-width: 28px;
    position: absolute;
    text-rendering: optimizelegibility;
    width: 28px;
    -moz-osx-font-smoothing: grayscale
}
.head2 {
    align-items: center;
    background-color: var(--head2-background-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: var(--head2-color);
    cursor: pointer;
    direction: ltr;
    display: flex;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 28px;
    justify-content: center;
    line-height: 19.2px;
    max-height: 28px;
    max-width: 28px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    text-rendering: optimizelegibility;
    width: 28px;
    -moz-osx-font-smoothing: grayscale
}
.cmd {
    bottom: 10px;
    position: absolute;
    background-color: var(--cmd-background-color);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    color: var(--cmd-color);
    direction: ltr;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 8px;
    min-width: 100px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 8px;
    padding-top: 0px;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    height: 25px;
    width: 100%;
    text-align: center; 
}
input {
  color: var(--cmd-color);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background: transparent;
  width: 100%;
}

.no-outline:focus {
  outline: none;
}
.img {
    width: 32px;
    height: 32px;
}

.colormode {
    right: 10px;
    top: 10px;
    position: absolute;
    margin-bottom: 20px;
    padding-bottom: 20px;
    z-index: 10;
}